@use "colors";
@use "fonts";
@use "values";

* {
    margin: 0;
    padding: 0;
    color: $white;
}
html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-lexend-deca;
}
.articles {
    display: flex;
}
.article {
    padding: 32px;
    max-width: 150px;
    max-height: 400px;
}
.article__title {
    @include font-big-shoulders;
    margin-top: 16px;
    font-weight: $font-weight-lg;
    text-transform: uppercase;
    font-size: $font-size-vlg;
    
}
.article__paragraph {
    line-height: 20px;
    margin-top: 16px;
    font-size: $font-size-sm;
    opacity: 0.6;
}
.btn {
    @include font-lexend-deca;
    font-size: $font-size-vsm;
    border-radius: 32px;
    background-color: $white;
    margin-top: 64px;
    padding: 8px 24px;
    border: 2px solid $white;
}
.article__img {
    max-width: 48px;
}

@media (max-width: 768px) {
    .articles {
        flex-direction: column;
    }
    .article {
        max-width: 200px;
    }
    .btn {
        margin-top: 16px;
    }
}