@use "colors";
@use "fonts";
@use "values";

@mixin hover-state($color) {
    &:hover {
        background-color: $color;
        color: $white;
    }
}

@mixin border-corner-radius($posX, $posY) {
    border-#{$posX}-#{$posY}-radius: 8px;
}

.sedan {
    &--bg-color {
    background-color: $bright-orange;
    }
    &--color {
        color: $bright-orange;
    }
    &--btn-hover {
        @include hover-state($bright-orange);
    }
}
    
.suv {
    &--bg-color {
    background-color: $dark-cyan;
    }
    &--color {
        color: $dark-cyan;
    }
    &--btn-hover {
        @include hover-state($dark-cyan);
    }
}
    
.luxury {
    &--bg-color {
    background-color: $very-dark-cyan;
    }
    &--color {
        color: $very-dark-cyan;
    }
    &--btn-hover {
        @include hover-state($very-dark-cyan);
    }
}

@media (min-width: 768px) {
    .border {
        &--top-left-radius-desktop {
        @include border-corner-radius(top,left)
    }
        &--top-right-radius-desktop {
        @include border-corner-radius(top,right)
    }
        &--bottom-left-radius-desktop {
        @include border-corner-radius(bottom,left)
    }
        &--bottom-right-radius-desktop {
        @include border-corner-radius(bottom,right)
    }
}
}
@media (max-width: 768px) {
    .border {
        &--top-left-radius-mobile {
        @include border-corner-radius(top,left)
    }
        &--top-right-radius-mobile {
        @include border-corner-radius(top,right)
    }
        &--bottom-left-radius-mobile {
        @include border-corner-radius(bottom,left)
    }
        &--bottom-right-radius-mobile {
        @include border-corner-radius(bottom,right)
    }
}
}